<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
  
    <head>
        <title>델리나잇</title>
    </head>
    <body>
        <!--layout:fragment명과 id명 절대 수정 금지!!!!-->
        <div layout:fragment="adminContent" id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-5">
                    <!--작업 영역-->
                    <!--반드시 이 안에서만 작업-->

                    <!--페이지 제목 명명-->
                    <h3 class="mt-5">새 호텔 등록</h3>
                    <ol class="breadcrumb mb-4">
                        <!--페이지 소제목 명명-->
                        <a href="/members/account/adminhome" class="breadcrumb-item active">홈</a>
                        <a href="/#" class="breadcrumb-item active no-click">호텔 관리</a>
                        <a href="/members/hotel/listA" class="breadcrumb-item active">호텔 목록</a>
                    </ol>

                    <!--기본 카드 양식-->
                    <div class="card custom-shadow mb-4">
                        <div class="card-body">
                            <!--카드 제목-->
                            <h5 class="mb-4 fw-bold">기본 정보</h5>

                            <!--카드 제목 구분선-->
                            <hr class="hrMain">

                            <form action="/members/hotel/create" method="post">
                                <div class="row mb-4">
                                    <label class="col-sm-2 col-form-label form-label">호텔명</label>
                                    <div class="col-sm-3">
                                        <input name="name" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <label class="col-sm-2 col-form-label form-label">호텔 설명</label>
                                    <div class="col-sm-5">
                                        <textarea name="content" class="form-control" rows="1" style="overflow:hidden; resize:none;" oninput="autoResize(this)"></textarea>
                                    </div>
                                </div>

                                <div class="text-center mt-5">
                                    <button class="btn btn-primary me-2 px-4">등록</button>
                                    <a href="/members/hotel/listA" class="btn btn-gray px-4">취소</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>

            <!--스크립트 영역-->
            <!--추가할 스크립트가 있다면 이곳에서 <script>태그 열고 작업-->
            <!--기존 config 파일과 겹칠 수 있으므로 class나 id는 직접 작명해주세요-->
            <script>
                function autoResize(textarea) {
                    textarea.style.height = 'auto'; // 높이 초기화
                    textarea.style.height = textarea.scrollHeight + 'px'; // 글자 수에 맞게 높이 조정
                }
            </script>

            <!--푸터-->
            <!--콘텐츠 내부에 포함된 형식이므로 첨삭 엄금!!!-->
            <div th:replace="~{fragments/adminfooter::adminFooter}"></div>
        </div>
    </body>

</html>